<style>
  .button {
    border-radius: 25px;
    background-color: #00cc66; /* light green */
    border: none;
    color: white;
    padding: 5px 8px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
  }

.button_blog {background-color: #008CBA;} /* Blue */
.button_travel {background-color: #ff944d;} /* light orange */
.button_sport {background-color: #b366ff;} /* light violet */
.button_extra {background-color: #555555;} /* Black */
.button_medicine {background-color: #DC143C;} /* crimson */
.button_other {background-color: ###cccc00;} /* dirty green */
</style>
